#fcc_foldout_menu, #fcc_foldout_toggler, #fcc_test_suite_indicator {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}
html, html a {
    -webkit-font-smoothing: antialiased !important;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #00838F;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

header {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Zilla Slab', serif;
  letter-spacing: 2px;
  /*text-shadow: 2px 2px 3px #000000;*/
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 15px;
}

main {
  display: flex;
  flex-grow: 1;
  height: 100%;
  background-color: yellow;
  border-radius: 5px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

form {
  width: 100%;
}

.question {
  display: flex;
  padding: 5px 0 5px 0;
}

textarea {
  padding: 5px;
  width: 75%;
}

input {
  padding: 5px;
}

input[type=radio] {
  margin-right: 5px;
}

input[type=checkbox] {
  margin-right: 5px;
}

input[type=submit] {
  border-radius: 5px;
  border: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.submit {
  text-align: center;
}

#name, #email, #number {
  border-radius: 5px;
  border: 1px solid #606060;
  width: 200px;
}

#name:focus, #email:focus, #number:focus {
  border-radius: 5px;
  border: 5px solid #FFAB40;
  width: 200px;
  outline: 0;
}


#comments {
  border-radius: 5px;
  border: 1px solid #606060;
}

#comments:focus {
  border-radius: 5px;
  border: 1px solid #FFAB40;
  outline: 0;
}

select {
  padding: 5px;
  border: 1px solid #BBFF33;
}

select:focus {
  padding: 5px;
  border: 1px solid #FFAB40;
  outline: 0;
}

.description {
  text-align: center;
  padding: 5px 0 5px 0;
}

.questions {
  text-align: right;
  width: 50%;
  padding-right: 5px;
}

.answers {
  width: 50%;
  padding-left: 5px;
}